          ## Python Data Types


Text Type:	str

Numeric Types:	int, float, complex

Sequence Types:	list, tuple, range

Mapping Type:	dict

Set Types:	set, frozenset

Boolean Type:	bool

Binary Types:	bytes, bytearray, memoryview

None Type:	NoneType

In [37]:
x = "Hello World"
print (x)
print (type(x))

Hello World
<class 'str'>

In [38]:
x = 20;
print (x)
print (type(x))
#Casting
x= str(20)
print (x)
print (type(x))

20
<class 'int'>
20
<class 'str'>

In [39]:
x = 1j
print(x)
y = 2
print(y)

print(x+y)

1j
2
(2+1j)

#  Python Lists

Lists are used to store multiple items in a single variable.

Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

Lists are created using square brackets:

In [40]:
thisList = ["apple" , "banana" , "cherry"]
print(thisList)

['apple', 'banana', 'cherry']

List Items

List items are ordered, changeable, and allow duplicate values.

List items are indexed, the first item has index [0], the second item has index [1] etc.

In [41]:
thisList = ["apple" , "banana" , "cherry" ,  "apple" , "banana"]
print(thisList)

['apple', 'banana', 'cherry', 'apple', 'banana']

List Length

To determine how many items a list has, use the len() function:

In [42]:
thisList = ["apple" , "banana" , "cherry" ,  "apple" , "banana"]
print(thisList)

print(len(thisList))

['apple', 'banana', 'cherry', 'apple', 'banana']
5

In [43]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]
print(list1)
print(list2)
print(list3)

['apple', 'banana', 'cherry']
[1, 5, 7, 9, 3]
[True, False, False]

### A LIST CAN CONTAIN DIFFERENT DATA TYPE:

In [44]:
list1 = ["abc", 34, True, 40, "male"]
print(list1)
type(list1)

['abc', 34, True, 40, 'male']

list

The list() constructor:

In [45]:
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)
print (type(thislist))
print(len(thislist))

['apple', 'banana', 'cherry']
<class 'list'>
3

# PYTHON COLLECTION(ARRAYS)

There are four collection data types in the Python programming language:

List is a collection which is ordered and changeable. Allows duplicate members.

Tuple is a collection which is ordered and unchangeable. Allows duplicate members.

Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.

Dictionary is a collection which is ordered** and changeable. No duplicate members.

# Python - Acess List Items

List items are indexed and you can access them by referring to the index number. The first item has index 0.

Negative Indexing
Negative indexing means start from the end

In [46]:
thisList = ["apple" , "banana" , "cherry" ,  "guava" , "grapes"]
print(thisList)
print(len(thisList))
print(type(thisList))
print(thisList[0])
print(thisList[4])
print(thisList[-2])
print(thisList[-3])

['apple', 'banana', 'cherry', 'guava', 'grapes']
5
<class 'list'>
apple
grapes
guava
cherry

Range of Indexes

You can specify a range of indexes by specifying where to start and where to end the range.

When specifying a range, the return value will be a new list with the specified items.

By leaving out the start value, the range will start at the first item.

By leaving out the end value, the range will go on to the end of the list.

In [47]:
thislist1 = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist1[2:5])
#The search will start at index 2 (included) and end at index 5 (not included).



newlist = thislist1[0:5]
print(newlist)

list2 = newlist[3:4]
print(list2)

print(thislist1[3:])

print(thislist1[:3])

['cherry', 'orange', 'kiwi']
['apple', 'banana', 'cherry', 'orange', 'kiwi']
['orange']
['orange', 'kiwi', 'melon', 'mango']
['apple', 'banana', 'cherry']

Range of Negative Indexes

Specify negative indexes if you want to start the search from the end of the list:

In [48]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

Check if Item Exists

To determine if a specified item is present in a list use the in keyword:

In [49]:
thislist = ["apple", "banana", "cherry"]
if "guava" in thislist:
  print("Yes, 'apple' is in the fruits list")
else :
  print("No,the element is not present in the list")

No,the element is not present in the list

# Python - Change List Items

In [50]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

Change a Range of Item Values

To change the value of items within a specific range, define a list with the new values, and refer to the range of index numbers where you want to insert the new values.

#>> If you insert more items than you replace, the new items will be inserted where you specified, and the remaining items will move accordingly.

#>> If you insert less items than you replace, the new items will be inserted where you specified, and the remaining items will move accordingly.

In [51]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [52]:
thislist = ["apple", "banana", "cherry"]
print(thislist)
print(len(thislist))
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)
print(len(thislist))

['apple', 'banana', 'cherry']
3
['apple', 'blackcurrant', 'watermelon', 'cherry']
4

In [53]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))
print(thislist)
thislist[1:3] = ["watermelon"]
print(thislist)
print(len(thislist))

3
['apple', 'banana', 'cherry']
['apple', 'watermelon']
2

# Python - Add List Items

Insert Items

To insert a new list item, without replacing any of the existing values, we can use the insert() method.

The insert() method inserts an item at the specified index

In [54]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

Apeend items

To add an item to the end of the list, use the append() method:

In [55]:
thislist=["apple" , "banana" , "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

Extend List

To append elements from another list to the current list, use extend() method.

In [56]:
thislist = ["apple" , "banana" , "cherry"]
tropical = ["mango" , "pineapple" , "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

Add Any Iterable

The extend() method does not have to append lists, you can add any iterable object (tuples, sets, dictionaries etc.).

In [57]:
thislist=["apple" , "banana" , "cherry"]
thisstuple = ("kiwi" , "orange")

thislist.extend(thisstuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

# Python - Remove List Item

Remove Specified Item

The remove() method removes the specified item.

In [58]:
thislist=["apple" , "banana" , "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

NOTE: If there are duplicates then remove () method will removes the first occurrence.

In [59]:
thislist=["apple" , "banana" , "cherry" , "banana"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry', 'banana']

Remove Specified Index

The pop() method removes the specified index.

In [60]:
thislist=["apple" , "banana" , "cherry" , "banana"]
thislist.pop(3)
print(thislist)

thislist.pop()
print(thislist)

['apple', 'banana', 'cherry']
['apple', 'banana']

NOTE: If index is not specified in the pop () method then it will remove the last item.

The del() keyword also removes the specified index.

In [61]:
thislist = ["apple" , "mango" , "banana" , "cherry"]
del thislist[2]
print(thislist)

['apple', 'mango', 'cherry']

NOTE: The del keyword cann also delete the list completely.

In [62]:
thislist = ["apple" , "mango" , "banana" , "cherry"]
del thislist
print(thislist)

NameError: name 'thislist' is not defined

Clear the list

The clear() method empties the list.

The list still remains, but it has no content.

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

Difference between clear() method and del keyword:

del wala error dega >> ki list undefined
clear() wala khali list hi print krwa dega

# PYTHON - LOOP LISTS

In [ ]:
thislist = ["apple" , "banana" , "cherry"]
for x in thislist :
    print(x)

apple
banana
cherry

In [ ]:
thislist = ["apple", "banana", "cherry" , "watermelon" , "guava"]
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry
watermelon
guava

In [ ]:
thislist = ["apple", "banana", "cherry" , "watermelon" , "guava"]
i = 0
while i < len(thislist):
    print(thislist[i])
    i = i+1

apple
banana
cherry
watermelon
guava

# list Comprehension

List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

Example:

Based on a list of fruits, you want a new list, containing only the fruits with the letter "a" in the name.

MEthod 1: using for loop

In [ ]:
fruits = ["apple" , "watermelon" , "guava" , "kiwi" , "mango" , "cherry"]
newlist = []

for x in fruits :
    if "a" in x:
        newlist.append(x)
    
print(newlist)

['apple', 'watermelon', 'guava', 'mango']

With list comprehension you can do all that with only one line of code:

Method: using list comprehension

In [ ]:
fruits = ["apple" , "watermelon" , "guava" , "kiwi" , "mango" , "cherry"]
newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'watermelon', 'guava', 'mango']

In [ ]:
fruits = ["apple" , "watermelon" , "guava" , "kiwi" , "mango" , "cherry"]

[print(x) for x in fruits]

print(fruits)
#is same as
for x in  fruits:
    print(x)

apple
watermelon
guava
kiwi
mango
cherry
['apple', 'watermelon', 'guava', 'kiwi', 'mango', 'cherry']
apple
watermelon
guava
kiwi
mango
cherry

In [ ]:
fruits = ["apple" , "watermelon" , "guava" , "kiwi" , "mango" , "cherry"]
newlist=[x for x in fruits if x!="apple"]

print(newlist)

list1 = []
list1.append([x for x in fruits])
print(list1)

['watermelon', 'guava', 'kiwi', 'mango', 'cherry']
[['apple', 'watermelon', 'guava', 'kiwi', 'mango', 'cherry']]

The Syntax

# newlist = [expression for item in iterable if condition == True]

The return value is a new list, leaving the old list unchanged.

NOTE : The condition is optional and can be omitted

Iterable

The iterable can be any iterable object, like a list, tuple, set etc.

In [ ]:
newlist = [x for x in range(10)]

print(newlist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Expression

The expression is the current item in the iteration, but it is also the outcome, which you can manipulate before it ends up like a list item in the new list:

In [ ]:
fruits = ["apple" , "watermelon" , "guava" , "kiwi" , "mango" , "cherry"]

print([x.upper() for x in fruits])

['APPLE', 'WATERMELON', 'GUAVA', 'KIWI', 'MANGO', 'CHERRY']

In [ ]:
#Set all values in the new list to 'hello':
fruits = ["apple" , "watermelon" , "guava" , "kiwi" , "mango" , "cherry"]
print(["hello" for x in fruits])

['hello', 'hello', 'hello', 'hello', 'hello', 'hello']

The expression can also contain conditions, not like a filter, but as a way to manipulate the outcome:

In [ ]:
fruits = ["apple" , "watermelon" , "guava" , "kiwi" , "mango" , "cherry" , "banana"]

newlist=[x if x!= "banana" else "orange" for x in fruits]

print(newlist)

['apple', 'watermelon', 'guava', 'kiwi', 'mango', 'cherry', 'orange']

# Sort List

Sort List Alphanumerically

List objects have a sort() method that will sort the list alphanumerically, ascending, by default:

In [ ]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [ ]:
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

[23, 50, 65, 82, 100]

Sort Descending

To sort descending, use the keyword argument reverse = True

In [ ]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [ ]:
thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse = True)
print(thislist)

[100, 82, 65, 50, 23]

Customize Sort Function

You can also customize your own function by using the keyword argument key = function.

The function will return a number that will be used to sort the list (the lowest number first):

In [ ]:
#Sort the list based on how close the number is to 50:

def myfunc(n):
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

[50, 65, 23, 82, 100]

Case Insensitive Sort

By default the sort() method is case sensitive, resulting in all capital letters being sorted before lower case letters:

In [ ]:
#Case sensitive sorting can give an unexpected result:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)

['Kiwi', 'Orange', 'banana', 'cherry']

We can inbuilt functions as arguement when sorting a list.
So, if you want a case-insensitive sort function, use str.lower as a key function:

In [ ]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

# reverse()

In [ ]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

# Copy Lists

In [ ]:
list1 = ["apple" , "kiwi" , "banana"]
list2 = list1
print(list2)
list1.append("watermelon")
print(list2)

mylist = list1.copy()
print(mylist)
list2.append("mango")
print(list2)
print(mylist)

['apple', 'kiwi', 'banana']
['apple', 'kiwi', 'banana', 'watermelon']
['apple', 'kiwi', 'banana', 'watermelon']
['apple', 'kiwi', 'banana', 'watermelon', 'mango']
['apple', 'kiwi', 'banana', 'watermelon']

You cannot copy a list simply by typing list2 = list1, because: list2 will only be a reference to list1, and changes made in list1 will automatically also be made in list2.

There are ways to make a copy, one way is to use the built-in List method copy().

method 2 : list()

In [ ]:
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

# Join Lists

Method 1 : + operator

In [ ]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

Method 2 : using loop

In [ ]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

for x in list2:
    list1.append(x)
    
print(list1)
# list3 = []

# list3.append([x for x in list1])
# print(list3)

['a', 'b', 'c', 1, 2, 3]

In [ ]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

# Python Tuples

Tuple

Tuples are used to store multiple items in a single variable.

Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

A tuple is a collection which is ordered and unchangeable.

Tuples are written with round brackets.

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

Tuple Items

Tuple items are ordered, unchangeable, and allow duplicate values.

Tuple items are indexed, the first item has index [0], the second item has index [1] etc.

# Ordered Unchangeable Allow-Duplicates

In [ ]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")

print(thistuple)

[print(x) for x in thistuple]

# is same as
for x in thistuple:
    print(x)

('apple', 'banana', 'cherry', 'apple', 'cherry')
apple
banana
cherry
apple
cherry
apple
banana
cherry
apple
cherry

In [ ]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(len(thistuple))

5

Create Tuple With One Item

To create a tuple with only one item, you have to add a comma after the item, otherwise Python will not recognize it as a tuple.

In [ ]:
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

# Tuple Items - Data Types

Tuple items can be of any data type

A tuple can contain different data types

In [ ]:
tuple1 = ("abc", 34, True, 40, "male")

print(tuple1)

('abc', 34, True, 40, 'male')

# The tuple() Constructor

It is also possible to use the tuple() constructor to make a tuple

In [ ]:
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)
#just like list() constructor
thisList = list(["suraj" , "prakash" , "ram"])
print(thisList)

('apple', 'banana', 'cherry')
['suraj', 'prakash', 'ram']

# Python - Access Tuple Items

Method1: By referring to the index

Negative indexing is possible same as list

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

Method2: Rnge of indices

In [ ]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

Check if Item Exists

To determine if a specified item is present in a tuple use the in keyword:

In [ ]:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

# Python - Update Tuples

Tuples are unchangeable, meaning that you cannot change, add, or remove items once the tuple is created.

But there are some workarounds.

Change Tuple Values

Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.

But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.

In [ ]:
x = ("apple" , "banana" , "kiwi")
y = list(x)
y[1] = "watermelon"

x = tuple(y)

print(x)

('apple', 'watermelon', 'kiwi')

Add Items

Since tuples are immutable, they do not have a built-in append() method, but there are other ways to add items to a tuple.

method1: Convert to a list

In [ ]:
thistuple = ("apple" , "banana" , "watermelon" , "kiwi")
y = list(thistuple)

y.append("Mango")

thistuple = tuple(y)
print(thistuple)

('apple', 'banana', 'watermelon', 'kiwi', 'Mango')

meethod2: Adding tuple to tuple is allowed

In [ ]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

Remove items

m1 : Change to list and use remove() method.

In [ ]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)
print(thistuple)

('banana', 'cherry')

m2 : deleting tuple completely using del keyword

In [ ]:
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple) #this will raise an error because the tuple no longer exists

NameError: name 'thistuple' is not defined

# Python - Unpack Tuples

When we create a tuple, we normally assign values to it. This is called "packing" a tuple.

But, in Python, we are also allowed to extract the values back into variables. This is called "unpacking"

In [ ]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

Note: The number of variables must match the number of values in the tuple, if not, you must use an asterisk to collect the remaining values as a list.

In [ ]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [ ]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

# Python - Loop Tuples

In [ ]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

In [ ]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

apple
banana
cherry

In [ ]:
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i + 1

# Python - Join Tuples

Join two tuples

In [36]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

Multiply Tuples

In [63]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

# Tuple methods

1. count()

Returns the number of times a specified value occurs in a tuple

In [65]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print (mytuple. count("apple"))

2

2. index()

Searches the tuple for a specified value and returns the position of where it was found

In [66]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

mytuple.index("banana")

1

# Python Sets

A set is a collection which is unordered, unchangeable*, and unindexed.

In [67]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'cherry', 'apple', 'banana'}

Set Items

Set items are unordered, unchangeable, and do not allow duplicate values.

Unordered

Unordered means that the items in a set do not have a defined order.

Set items can appear in a different order every time you use them, and cannot be referred to by index or key.

Unchangeable

Set items are unchangeable, meaning that we cannot change the items after the set has been created.

Once a set is created, you cannot change its items, but you can remove items and add new items.

Duplicates Not Allowed

In [68]:
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'cherry', 'apple', 'banana'}

Note: The values True and 1 are considered the same value in sets, and are treated as duplicates

Note: The values False and 0 are considered the same value in sets, and are treated as duplicates

In [69]:
thisset = {"apple", "banana", "cherry", True, 1, 2}

print(thisset)

{'cherry', True, 2, 'apple', 'banana'}

In [70]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

In [73]:
set1 = {"abc", 34, True, 40, "male"}

print(set1)

print(type(set1))

{True, 34, 'male', 40, 'abc'}
<class 'set'>

The set() Constructor

It is also possible to use the set() constructor to make a set

In [74]:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'cherry', 'apple', 'banana'}

Note : Set items are unchangeable, but you can remove items and add new items.

# Python - Access Set Items

Access Items

You cannot access items in a set by referring to an index or a key.

But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

In [75]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

cherry
apple
banana

In [76]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

In [77]:
thisset = {"apple", "banana", "cherry"}

print("banana" not in thisset)

False

# Python - Add Set Items

To add one item to a set use the add() method.

In [78]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'cherry', 'orange', 'apple', 'banana'}

To add items from another set into the current set, use the update() method.

In [79]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'cherry', 'pineapple', 'mango', 'apple', 'papaya', 'banana'}

Add Any Iterable

The object in the update() method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.).

In [80]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'cherry', 'apple', 'kiwi', 'banana', 'orange'}

# Python - Remove Set Items

To remove an item in a set, use the remove(), or the discard() method.

Note: If the item to remove does not exist, remove() will raise an error.

Note: If the item to remove does not exist, discard() will NOT raise an error.

In [83]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

thisset.remove("watermelon")

{'cherry', 'apple'}

KeyError: 'watermelon'

In [84]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

thisset.discard("watermelon")

{'cherry', 'apple'}

You can also use the pop() method to remove an item, but this method will remove a random item, so you cannot be sure what item that gets removed.

The return value of the pop() method is the removed item.

In [88]:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

cherry
{'apple', 'banana'}

The clear() method empties the set

In [89]:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

The del keyword will delete the set completely

In [90]:
thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

NameError: name 'thisset' is not defined

# Python - loop Sets

In [91]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

cherry
apple
banana

# Python - Join Sets

Join Sets

There are several ways to join two or more sets in Python.

The union() and update() methods joins all items from both sets.

The intersection() method keeps ONLY the duplicates.

The difference() method keeps the items from the first set that are not in the other set(s).

The symmetric_difference() method keeps all items EXCEPT the duplicates.

1. union()

In [92]:
fruits = {"watermelon" , "kiwi" , "apple"}
vegies = {"potato" , "cauliflower"}

joint_sets = fruits.union(vegies)

print (joint_sets)

{'cauliflower', 'apple', 'kiwi', 'watermelon', 'potato'}

In [93]:
fruits = {"watermelon" , "kiwi" , "apple"}
vegies = {"potato" , "cauliflower"}
#You can use the | operator instead of the union() method, and you will get the same result.
joint_sets = fruits| vegies

print (joint_sets)

{'cauliflower', 'apple', 'kiwi', 'watermelon', 'potato'}

In [94]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)
print(myset)

{'cherry', 1, 2, 3, 'Elena', 'a', 'apple', 'c', 'bananas', 'John', 'b'}

In [96]:
# Use | to join two sets:

set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1 | set2 | set3 |set4
print(myset)

{'cherry', 1, 2, 3, 'Elena', 'a', 'apple', 'c', 'bananas', 'John', 'b'}

Join a Set and a Tuple

The union() method allows you to join a set with other data types, like lists or tuples.

The result will be a set.

In [102]:
x = {"a", "b", "c"}
y = (1, 2, 3 , 4)

z = x.union(y)
print(z)
print(x)

{1, 2, 3, 4, 'a', 'c', 'b'}
{'c', 'a', 'b'}

Note: The  | operator only allows you to join sets with sets, and not with other data types like you can with the  union() method.

2. Update

The update() method inserts all items from one set into another.

The update() changes the original set, and does not return a new set.

In [101]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{'c', 1, 2, 3, 'b', 'a'}

Note: Both union() and update() will exclude any duplicate items.

3. Intersection

The intersection() method will return a new set, that only contains the items that are present in both sets.

In [103]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.intersection(set2)
print(set3)

{'apple'}

In [106]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
# You can use the & operator instead of the intersection() method, and you will get the same result.
set3 = set1 & set2
print(set3)
print(set1)

{'apple'}
{'cherry', 'apple', 'banana'}

The intersection_update() method will also keep ONLY the duplicates, but it will change the original set instead of returning a new set.

In [107]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.intersection_update(set2)

print(set1)

{'apple'}

In [108]:
set1 = {"apple", 1,  "banana", 0, "cherry"}
set2 = {False, "google", 1, "apple", 2, True}

set3 = set1.intersection(set2)

print(set3)

{False, 1, 'apple'}

4. Difference

The difference() method will return a new set that will contain only the items from the first set that are not present in the other set.

In [109]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.difference(set2)

print(set3)

{'cherry', 'banana'}

In [110]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 - set2
print(set3)

{'cherry', 'banana'}

The difference_update() method will also keep the items from the first set that are not in the other set, but it will change the original set instead of returning a new set.

In [111]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.difference_update(set2)

print(set1)

{'cherry', 'banana'}

5. Symmetric Differences

The symmetric_difference() method will keep only the elements that are NOT present in both sets.

In [112]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.symmetric_difference(set2)

print(set3)

{'cherry', 'banana', 'microsoft', 'google'}

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
# You can use the ^ operator instead of the symmetric_difference() method, and you will get the same result.
set3 = set1 ^ set2
print(set3)

The symmetric_difference_update() method will also keep all but the duplicates, but it will change the original set instead of returning a new set.

In [113]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.symmetric_difference_update(set2)

print(set1)

{'cherry', 'banana', 'microsoft', 'google'}

# Python Dictionaries

Dictionary

Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

In [1]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

Dictionaries are written with curly brackets, and have keys and values.

Dictionary Items

Dictionary items are ordered, changeable, and do not allow duplicates.

Dictionary items are presented in key:value pairs, and can be referred to by using the key name.

In [2]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])

Ford

Ordered or Unordered?

When we say that dictionaries are ordered, it means that the items have a defined order, and that order will not change.

Unordered means that the items do not have a defined order, you cannot refer to an item by using an index.

Changeable

Dictionaries are changeable, meaning that we can change, add or remove items after the dictionary has been created.

Duplicates Not Allowed

Dictionaries cannot have two items with the same key.

##Duplicate values will overwrite existing values:

In [6]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

print(thisdict["year"])
print(len(thisdict))
print(type(thisdict))

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}
2020
3
<class 'dict'>

The dict() Constructor

It is also possible to use the dict() constructor to make a dictionary.

In [6]:
thisdict = dict(name = "John", age = 36, country = "Norway")
print(thisdict)

{'name': 'John', 'age': 36, 'country': 'Norway'}

# Python - Access Dictionary items

In [8]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]
print(x)

Mustang

get() method

In [9]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict.get("model")
print(x)

Mustang

Get Keys

The keys() method will return a list of all the keys in the dictionary.

In [10]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict.keys()
print(x)

dict_keys(['brand', 'model', 'year'])

The list of the keys is a view of the dictionary, meaning that any changes done to the dictionary will be reflected in the keys list.

In [11]:
car = {
    "brand" : "Ford",
    "model" : "Mustang",
    "year" : 1964
}

x = car.keys()

print (x)

car ["color"] = "white"

print(x)

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])

Get Values

The values() method will return a list of all the values in the dictionary.

In [12]:
car = {
    "brand" : "Ford",
    "model" : "Mustang",
    "year" : 1964
}

x = car.values()

print(x)

dict_values(['Ford', 'Mustang', 1964])

The list of the values is a view of the dictionary, meaning that any changes done to the dictionary will be reflected in the values list.

In [13]:
car = {
    "brand" : "Ford" ,
    "model" : "Mustang" ,
    "year" : 1964
}

x = car.values()

car["year"] = 2020

print(x)

dict_values(['Ford', 'Mustang', 2020])

In [14]:
car = {
    "brand" : "Ford",
    "model" : "Mustang",
    "year" : 1964
}

x = car.values()

print (x)

car ["color"] = "white"

print(x)

dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 1964, 'white'])

Get Items

The items() method will return each item in a dictionary, as tuples in a list.

In [8]:
car = {
    "brand" : "Ford",
    "model" : "Mustang",
    "year" : 1964
}

x = car.items()
print(x)
print(list(x))
print(list(x)[0][1])

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
[('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)]
Ford
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

The returned list is a view of the items of the dictionary, meaning that any changes done to the dictionary will be reflected in the items list.

In [16]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.items()

print(x) #before the change

car["year"] = 2020

print(x) #after the change

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2020)])

Check if Key Exists

To determine if a specified key is present in a dictionary use the in keyword.

In [17]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
if "model" in thisdict:
  print("Yes, 'model' is one of the keys in the thisdict dictionary")

Yes, 'model' is one of the keys in the thisdict dictionary

# Python - Change Dictionary Items

Change Values

You can change the value of a specific item by referring to its key name.

In [18]:
car = {
    "brand" : "Ford" ,
    "model" : "Mustang" ,
    "year" : 1964
}

car["year"] = 2018

print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}

Update Dictionary

The update() method will update the dictionary with the items from the given argument.

The argument must be a dictionary, or an iterable object with key:value pairs.

In [20]:
car = {
    "name" : "Ford" ,
    "model" : "Mustang" ,
    "year" : 1964
}

car.update({"year": 2020})
print(car)

{'name': 'Ford', 'model': 'Mustang', 'year': 2020}

# Python - Add Dictionary Items

Adding Items

Adding an item to the dictionary is done by using a new index key and assigning a value to it.

In [21]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

Update Dictionary

The update() method will update the dictionary with the items from a given argument. If the item does not exist, the item will be added.

The argument must be a dictionary, or an iterable object with key:value pairs.

In [23]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"color": "red"})
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

# Python - Remove Dictionary Items

method 1 - pop()

In [24]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

method 2 - popitem()

this will remove the last insertwd item in the dictionary.

In [5]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem()
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang'}

method 3 - del keyword

In [26]:
thisdict = {
    "brand" : "Ford" ,
    "model" : "Mustang" ,
    "year" : 1963
}

del thisdict["model"]
print(thisdict)

{'brand': 'Ford', 'year': 1963}

In [27]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict
print(thisdict) #this will cause an error because "thisdict" no longer exists.

NameError: name 'thisdict' is not defined

In [47]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict)

{}
{'brand'}

# Python - Loop Dictionaries

Loop Through a Dictionary

You can loop through a dictionary by using a for loop.

When looping through a dictionary, the return value are the keys of the dictionary, but there are methods to return the values as well.

In [52]:
# Print all key names in the dictionary, one by one:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

for x in thisdict:
  print(x)

brand
model
year

In [30]:
# Print all values in the dictionary, one by one:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

for x in thisdict:
  print(thisdict[x])

Ford
Mustang
1964

In [33]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

for x in thisdict.values():
  print(x)

for x in thisdict.keys():
  print(x)

for x, y in thisdict.items():
  print(x, y)

Ford
Mustang
1964
brand
model
year
brand Ford
model Mustang
year 1964

In [1]:
# Iterating over dictionary
print("Dictionary Iteration")

d = dict()

d['xyz'] = 123
d['abc'] = 345
for i in d:
    print("% s % d" % (i, d[i]))

Dictionary Iteration
xyz  123
abc  345

# Python - Copy Dictionaries

Copy a Dictionary

You cannot copy a dictionary simply by typing dict2 = dict1, because: dict2 will only be a reference to dict1, and changes made in dict1 will automatically also be made in dict2.

There are ways to make a copy, one way is to use the built-in Dictionary method copy().

method1= copy()

In [40]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
mydict1 = thisdict
print(mydict)
print(mydict1)

thisdict.update({"color": "black"})
print(thisdict)
print(mydict)
print(mydict1)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'black'}
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'black'}

method2 = dict()

In [2]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = dict(thisdict)
print(mydict)

mydict["brand"] = "TATA"
print(mydict)
# NO change will be there in thisdict
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
{'brand': 'TATA', 'model': 'Mustang', 'year': 1964}
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

# Python - Nested Dictionaries

Nested Dictionaries

A dictionary can contain dictionaries, this is called nested dictionaries.

method 1

In [42]:
myfamily = {
    "child1" : {
        "name" : "Emil" ,
        "year" : 2004
    },
    "child2" : {
        "name" : "Tobias" ,
        "year" : 2008
    },
    "child3" : "Linus",
    "year" : 2011
}

print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2008}, 'child3': 'Linus', 'year': 2011}

method 2

In [53]:
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child4" : child1,
  "child5" : child2,
  "child6" : child3
}

print(myfamily)

{'child4': {'name': 'Emil', 'year': 2004}, 'child5': {'name': 'Tobias', 'year': 2007}, 'child6': {'name': 'Linus', 'year': 2011}}

Access Items in Nested Dictionaries

To access items from a nested dictionary, you use the name of the dictionaries, starting with the outer dictionary.

In [46]:
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child4" : child1,
  "child5" : child2,
  "child6" : child3
}

print(myfamily["child5"]["name"])

Tobias

Loop Through Nested Dictionaries

In [54]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

for x, obj in myfamily.items():
    print(x)
    
    for y in obj:
        print(y + ':', obj[y])

child1
name: Emil
year: 2004
child2
name: Tobias
year: 2007
child3
name: Linus
year: 2011

Adding Elements to a Nested Dictionary

In [55]:
Dict = { }
print("Initial nested dictionary:-")
print(Dict)
 
Dict['Dict1'] = {}
 
# Adding elements one at a time
Dict['Dict1']['name'] = 'Bob'
Dict['Dict1']['age'] = 21
print("\nAfter adding dictionary Dict1")
print(Dict)
 
# Adding whole dictionary
Dict['Dict2'] = {'name': 'Cara', 'age': 25}
print("\nAfter adding dictionary Dict1")
print(Dict)

Initial nested dictionary:-
{}

After adding dictionary Dict1
{'Dict1': {'name': 'Bob', 'age': 21}}

After adding dictionary Dict1
{'Dict1': {'name': 'Bob', 'age': 21}, 'Dict2': {'name': 'Cara', 'age': 25}}

Deleting Dictionaries from a Nested Dictionary

In [56]:
Dict = {'Dict1': {'name': 'Ali', 'age': 19},
        'Dict2': {'name': 'Bob', 'age': 21}}
print("Initial nested dictionary:-")
print(Dict)
 
# Deleting dictionary using del keyword
print("\nDeleting Dict2:-")
del Dict['Dict2']
print(Dict)
 
# Deleting dictionary using pop function
print("\nDeleting Dict1:-")
Dict.pop('Dict1')
print (Dict)

Initial nested dictionary:-
{'Dict1': {'name': 'Ali', 'age': 19}, 'Dict2': {'name': 'Bob', 'age': 21}}

Deleting Dict2:-
{'Dict1': {'name': 'Ali', 'age': 19}}

Deleting Dict1:-
{}