# Python Strings

In [1]:
print("Hello")
print('Hello')

Hello
Hello

1. Quotes Inside Quotes

You can use quotes inside a string, as long as they do  not math the quotes surrounding the string:

In [1]:
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

It's alright
He is called 'Johnny'
He is called "Johnny"

In [4]:
a = "hello"
b = "Suraj"
print(a)
print(b)
print(a+" "+b)

hello
Suraj
hello Suraj

2. Multiline Strings

You can do the same using triple quotes.

In [1]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
     consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

3. Strings are arrays

Like many other popular programming languages, strings in Python are arrays of bytes representing unicode characters.

However, Python does not have a character data type, a single character is simply a string with a length of 1.

Square brackets can be used to access elements of the string.

In [11]:
a = "Hello, World!"
print(a[1])

e

4. Looping Through a String

In [4]:
for x in "banana":
    print(x)

print(len("banana"))

b
a
n
a
n
a
6

In [14]:
a = "Hello, World!"

print(len(a))

13

5. Check String

To check if a certain phrase or character is present in a string, we can use the keyword in.

In [16]:
text = "The best things in life are free!"
print("free" in text)
print("frees" in text)

True
False

In [17]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

6. Check if NOT

In [18]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [19]:
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

# Python - Slicing Strings

1. Slicing
You can return a range of characters by using the slice syntax.

Specify the start index and the end index, separated by a colon, to return a part of the string.

In [20]:
b = "Hello, World!"
print(b[2:5])

llo

In [21]:
b = "Hello, World!"
print(b[:5])

Hello

In [23]:
b = "Hello, World!"
print(b[7:])

World!

In [24]:
b = "Hello, World!"
print(b[-5:-2])

orl

# Python - Modify Strings

1. upper()

In [25]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

2. lowe()

In [26]:
a = "Hello, World!"
print(a.lower())

hello, world!

3. Remove Whitespace

strip() method

Whitespace is the space before and/or after the text, and very often yoy want to remove the space.

In [29]:
a = "   Hello, World!    "
print(a.strip()) # returns "Hello, World!"
print(a)

Hello, World!
   Hello, World!

4. Repalce string

In [30]:
a = "Hello, world!"
print(a.replace("H", "J"))

Jello, world!

5. Split String

The split() method returns a list where the text between the specified separator becomes the list items.

In [3]:
a = "Hello, World!"
print(a.split(", ")) # returns ['Hello', ' World!']

['Hello', 'World!']

# Syntax : str.split(separator,maxsplit)

Parameters

separator: This is a delimiter. The string splits at this specified separator. If is not provided then any white space is a separator.

maxsplit: It is a number, that tells us to split the string into a maximum of the provided number of times. If it is not provided then the default is -1 which means there is no limit.

In [34]:
text = "Hello geek, Welcome to GeeksforGeeks."
 
# Splits at space
print(text.split())
 
word = 'geeks, for, geeks'
 
# Splits at ','
print(word.split(','))
 
word = 'geeks:for:geeks'
 
# Splitting at ':'
print(word.split(':'))
 
word = 'CatBatSatFatOr'
 
# Splitting at t
print(word.split('t'))

['Hello', 'geek,', 'Welcome', 'to', 'GeeksforGeeks.']
['geeks', ' for', ' geeks']
['geeks', 'for', 'geeks']
['Ca', 'Ba', 'Sa', 'Fa', 'Or']

* How does split() work when maxsplit is specified?

The maxsplit parameter is used to control how many splits to return after the string is parsed. Even if there are multiple splits possible, itâ€™ll only do maximum that number of splits as defined by the maxsplit parameter.

In [33]:
word = 'geeks, for, geeks, pawan'
 
# maxsplit: 0
print(word.split(', ', 0))
 
# maxsplit: 4
print(word.split(', ', 4))
 
# maxsplit: 1
print(word.split(', ', 1))

['geeks, for, geeks, pawan']
['geeks', 'for', 'geeks', 'pawan']
['geeks', 'for, geeks, pawan']

# String Concatenation

In [35]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [36]:
#To add a space between them, add a " ":

a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

# Python - Format - String

String Format

As we learned in the Python Variables chapter, we cannot combine strings and numbers like this:

In [37]:
age = 36
txt = "My name is John, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

But we can combine strings and numbers by using f-strings or the format() method!

* F-Strings

In [38]:
age = 36
txt = f"My name is John, I am {age}"
print(txt)

My name is John, I am 36

To specify a string as an f-string, simply put an f in front of the string literal, and add curly brackets {} as placeholders for variables and other operations.

Placeholders and Modifiers

A placeholder can contain variables, operations, functions, and modifiers to format the value.

In [39]:
price = 59
txt = f"The price is {price} dollars"
print(txt)

The price is 59 dollars

A placeholder can include a modifier to format the value.

A modifier is included by adding a colon : followed by a legal formatting type, like .2f which means fixed point number with 2 decimals:

In [40]:
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

In [41]:
txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars

You can perform if...else statements inside the placeholders:

In [44]:
price = 490
txt = f"It is very {'Expensive' if price>50 else 'cheap'}"

print(txt)

It is very Expensive

1. Executive Functions in F- String

In [46]:
fruit = "apples"
txt = f"I love {fruit.upper()}"

print(txt)

I love APPLES

In [47]:
def myconverter(x):

    return x*0.3408

txt = f"The plane is flying at a {myconverter(30000)} meter altitude"

print(txt)

The plane is flying at a 10224.0 meter altitude

2. String format()

In [50]:
price = 49
txt = "The price is {} dollars"
print(txt.format(price))

txt = "The price is {:.2f} dollars"
print(txt.format(price))

The price is 49 dollars
The price is 49.00 dollars

* Multiple Values

Syntax:  print(txt.format(price, itemno, count))

In [51]:
quantity = 3
itemno = 567
price = 49
myorder = "I want {} pieces of item number {} for {:.2f} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item number 567 for 49.00 dollars.

* Index Numbers

You can use index numbers (a number inside the curly brackets {0}) to be sure the values are placed in the correct placeholders:

In [57]:
quantity = 3
itemno = 567
price = 49
myorder = "I want {0} pieces of item number {1} for {2:.2f} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item number 567 for 49.00 dollars.

In [58]:
age = 36
name = "John"
txt = "His name is {1}. {1} is {0} years old."
print(txt.format(age, name))

His name is John. John is 36 years old.

* Named Indexes

You can also use named indexes by entering a name inside the curly brackets {carname}, but then you must use names when you pass the parameter values txt.format(carname = "Ford"):

In [59]:
myorder = "I have a {carname}, it is a {model}."
print(myorder.format(carname = "Ford", model = "Mustang"))

I have a Ford, it is a Mustang.

# Python Boolean

Almost any value is evaluated to True if it has some sort of content.

Any string is True, except empty strings.

Any number is True, except 0.

Any list, tuple, set, and dictionary are True, except empty ones.

* Some Values are false

In fact, there are not many values that evaluate to False, except empty values, such as (), [], {}, "", the number 0, and the value None. And of course the value False evaluates to False.

In [61]:
bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

False

## One more value, or object in this case, evaluates to False, and that is if you have an object that is made from a class with a __len__ function that returns 0 or False:

In [62]:
class myclass():
  def __len__(self):
    return 0

myobj = myclass()
print(bool(myobj))

False

# Python Identity Operators

* is operator

Returns True if both variables are the same object

In [63]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is z)

# returns True because z is the same object as x

print(x is y)

# returns False because x is not the same object as y, even if they have the same content

print(x == y)

# to demonstrate the difference betweeen "is" and "==": this comparison returns True because x is equal to y

True
False
True

* is not operator

In [64]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is not z)

# returns False because z is the same object as x

print(x is not y)

# returns True because x is not the same object as y, even if they have the same content

print(x != y)

# to demonstrate the difference betweeen "is not" and "!=": this comparison returns False because x is equal to y

False
True
False

# Python Membership Operators

* in

Returns True if a sequence with the specified value is present in the object

In [65]:
x = ["apple", "banana"]

print("banana" in x)

# returns True because a sequence with the value "banana" is in the list

True

* not in

Returns True if a sequence with the specified value is not present in the object

In [66]:
x = ["apple", "banana"]

print("pineapple" not in x)

# returns True because a sequence with the value "pineapple" is not in the list

True